/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}



/*************************************************
    COMMON RULES
 *************************************************/
 .container{
    width: 100%;
    margin: 0 auto;
    flex-direction: column;

 }   
  

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
}

p{
    line-height: 30px;
    
}

.violet{
    background-color: #9593E6;
}

h2{
    font-size: 40px;
}

.container.d-flex{
    padding: 20px 30px;
}

   
.d-wrap{
    flex-wrap: wrap;
}


/*************************************************
    HEADER
 *************************************************/
header{
    background-color: rgba(4, 90, 252, 0.897);
}

.navigator li{
    display: none;
    list-style: none;
}

.navigator.d-flex ul{
    align-items: center;
    padding: 15px 25px;
}

.navigator a{
    color: white;
    font-size: 12px;
    margin: 0 10px;
}

.container.head-scrn{
    align-items: center;
}

.container.head-scrn{
    flex-direction: row;
}

div.navigator.d-flex{
    justify-content: flex-end;
}

div.navigator i{
    padding: 15px 25px;
    color: white;
    font-size: 24px;
}

.logo-img{
    width: 30%;
}

.navigator{
    width: 70%;
}

.logo-img img{
    height: 25%;
    padding: 15px 25px;
}

.navigator.d-flex ul li:last-child a{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
}


/*************************************************
    MAIN
 *************************************************/
 
 /* 5 card section  */
 
 .container.med-scrn{
    margin: 60px auto;
    flex-direction: column;
    
}

div.box{
    border-radius: 25px;
    background-color: rgb(108, 191, 247);
    width: 100%;
    margin-bottom: 30px;
}

div.txt-btn-cont, div.box-img{
    margin: 30px auto 0 auto;
    padding: 0 30px;
}

div.box-img img{
    width: 100%;
}

.txt-btn-cont h3{
    color: rgba(4, 90, 252, 0.897);
    font-size: 1.5rem;
}

.txt-btn-cont p{
    font-weight: bold;
    color: rgb(83, 81, 81);
    margin: 20px 0;
}

.txt-btn-cont a, i{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;    
}

.txt-btn-cont button{
    background-color: rgba(4, 90, 252, 0.897);
    border-radius: 25px;
    border: 0;
    width: 80%;
    padding: 14px 0;
}

.txt-btn-cont .card-content{
    text-align: center;
}

.txt-btn-cont .card-content i{
    color: rgba(4, 90, 252, 0.897);
    font-size: 90px;
    margin-bottom: 25px;
}


/* 2 columns section  */

div.left-col-img{
    margin: 80px 0;
} 

div.left-col-img img{
    width: 100%;
}

div.left-col-txt{
    color: white;

}

div.left-col-txt p{
    margin: 60px 0 30px 0 ;
}

/* ---  */

.rght-col{
    text-align: center;
    background-color: white;
    border-radius: 40px;
    margin-bottom: 60px;
}

div.rght-col-img img{
    width: 100%;
    margin: 30px 0 20px 0; 
}

div.rght-col-txt p{
    width: 100%;
    margin: 30px auto;
}

div.rght-col-txt i{
    color: black;
    font-size: 20px;
    background-color: #9593E6;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 30px;
}


/* testimonial section  */

div.test-text, div.test-pic{
    text-align: center;
    

}

div.test-text h2{
    color: #9593E6;
    margin: 30px 0;
    line-height: 40px;
}

div.test-text p{
    
}

/* --- */

div.test-pic{
    margin-top: 50px;
    border-radius: 40px;
    padding: 20px;
}

div.test-pic-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
}

div.test-pic-img-txt p{
    color: white;
    margin: 25px 0;
}

div.test-pic-img-txt span{
    color: white;
    font-weight: bold;
}


/* section 6 boxes  */

div.boxes-title h2{
    color: white;
    text-align: center;
    margin: 60px 0;
}

div.box-single{
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    margin: 25px 0;
}

div.box-single span{
    color: #9593E6;
    font-size: 60px;
    font-weight: bold;
}

div.box-single h3{
    color: #9593E6;
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
}

div.box-single button{
    border: 0;
    border-radius: 20px;
    padding: 15px 65px;
    font-size: 16px;
    margin: 15px 0;
    background-color: #9593E6;
    color: white;
}

div.box-elements{
    margin-bottom: 25px;
}



/* about us section  */
div.ab-us-txt h2{
    color: #9593E6;
    margin: 40px 0;

}

div.ab-us-txt p{
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 45px;
}

div.ab-us-img{
    width: 60%;
    position: relative;
}

div.ab-us-img img{
    width: 100%;
    border-radius: 100%;
}

div.ab-us-img i{
    font-size: 70px;
    color: #9593E6;
    position: absolute;
    top: 0;
    right: 0;
}

.ab-us-pic p{
    font-size: 30px;
    font-weight: bold;
    color: #9593E6;
    line-height: 40px;
    margin: 20px 0;
}

.ab-us-pic button{
    border: 0;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 15px 0;
    background-color: #9593E6;
    color: white;
    
}

.ab-us-pic button i{
    color: white;
    margin: 0 10px;
    
    
}


/* get started section  */

.container.sml-screen{
    max-width: 680px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto -30px auto;
}

.container.sml-screen span:first-child{
    color: #b7b6eb;
    margin-top: 40px;
}

.container.sml-screen h3{
    color: white;
    font-size: 35px;
    margin: 25px 0 40px 0;
}

.container.sml-screen h2{
    font-size: 60px;
    color: rgb(245, 181, 62);
}

.container.sml-screen p{
    max-width: 80%;
    color: white;
    margin: 35px 0;
}

.container.sml-screen span:last-child{
    color: white;
    margin-bottom: 50px;
    font-size: 14px;
    max-width: 80%;

}

.container.sml-screen button{
    border: 0;
    border-radius: 30px;
    padding: 20px 75px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 35px 0;
    background-color: white;
    color: #9593E6;
}


/*************************************************
    FOOTER
 *************************************************/
footer{
    background-color: rgb(42, 42, 42);
    text-align: center;
    margin-bottom: -30px;
}

.container.d-flex.sml-scrn{
    max-width: 80%;
    margin: 30px auto;
    padding: 40px 0;
    flex-direction: column;

}

footer p{
    color: white;
    line-height: 20px;
    font-size: 15px;
    margin: 30px 0;
}


.container.d-flex.sml-scrn span a{
    color: #9593E6;
    text-decoration-line: underline;
}

.container.d-flex.sml-scrn span{
    color: #ffffff;
    font-size: 15px;
    margin-top: 40px;
}



/*************************************************
    RESPONSIVE
 *************************************************/

 /* FINO a
 @media screen and (max-width: 479px) {
     
 }

 A PARTIRE DA
 @media screen and (min-width: 479px) {
     
 } */

@media screen and (min-width: 768px) {
    .container{
        max-width: 800px;
    }

    .container.d-flex.med-scrn{
        flex-direction: row;
    }

    div.demo.box{
        width: calc(66% - 16px);
    }    

    div.box{
        width: calc(33% - 16px);
        margin: 8px 8px;

    }


 }




@media screen and (min-width: 992px) {
    .container{
        max-width: 900px;
        
    }
    
    .navigator li{
        display: inline-block;
    }

    div.navigator i{
        display: none;
    }

    .logo-img img{
        transform: scale(0.7);
    }


    /* 5cards  */
    div.demo.box{
        display: flex;
    } 

    .txt-btn-cont{
        margin: 0;
        padding: 0 15px;
        
    }

    /* 2columns  */

    div.rght-col{
        align-self: flex-end;
        padding: 0 50px;
        margin: 0 30px
    }

    .rght-col-txt h2{
        font-size: 20px;
    }

    .container.betwe-scrn{
        justify-content: space-between;

    }

}

