/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*************************************************
    COMMON RULES
 *************************************************/
body{
    font-family: 'Open Sans', sans-serif;
}

 .container{
    width: 100%;
 }   
  

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
}



/*************************************************
    HEADER
 *************************************************/
header{
    background-color: rgba(4, 90, 252, 0.897);
}

.navigator li{
    display: none;
    list-style: none;
}

.navigator.d-flex ul{
    align-items: center;
    padding: 15px 25px;
}

.navigator a{
    color: white;
    font-size: 12px;
    margin: 0 10px;
}

.container.d-flex{
    align-items: center;
}

div.navigator.d-flex{
    justify-content: flex-end;
}

div.navigator i{
    padding: 15px 25px;
    color: white;
    font-size: 24px;
}

.logo-img{
    width: 30%;
}

.navigator{
    width: 70%;
}

.logo-img img{
    height: 25%;
    padding: 15px 25px;
}

.navigator.d-flex ul li:last-child a{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
}


/*************************************************
    MAIN
 *************************************************/
 

 /* 5 card section  */
 
 .container.d-flex.med-scrn{
    max-width: 80%;
    margin: 60px auto;
    flex-direction: column;
   
}

div.box{
    border-radius: 25px;
    background-color: rgb(108, 191, 247);
    width: 100%;
    margin-bottom: 30px;
   
}

div.txt-btn-cont, div.box-img{
    width: 80%;
    margin: 30px auto 0 auto;
}

div.box-img img{
    width: 100%;
}

.txt-btn-cont h3{
    color: rgba(4, 90, 252, 0.897);
    font-size: 1.5rem;
}

.txt-btn-cont p{
    font-weight: bold;
    color: rgb(83, 81, 81);
    margin: 20px 0;
    line-height: 30px;
}

.txt-btn-cont a, i{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;    
}

.txt-btn-cont button{
    background-color: rgba(4, 90, 252, 0.897);
    border-radius: 25px;
    border: 0;
    width: 80%;
    padding: 14px 0;
}

.txt-btn-cont .card-content{
    text-align: center;
}

.txt-btn-cont .card-content i{
    color: rgba(4, 90, 252, 0.897);
    font-size: 90px;
    margin-bottom: 25px;
}


/* 2 columns section  */
section.violet{
    background-color: #9593E6;
}

div.left-col-img{
    margin: 80px 0;
} 

div.left-col-img img{
    width: 100%;
}

div.left-col-txt{
    color: white;

}

div.left-col-txt h2{
    font-size: 40px;
}

div.left-col-txt p{
    
    line-height: 30px;
    margin: 60px 0 30px 0 ;
}



.rght-col{
    text-align: center;
    background-color: white;
    border-radius: 40px;
    margin-bottom: 60px;
}


div.rght-col-img img{
    width: 80%;
    margin: 30px 0 20px 0; 
}

div.rght-col-txt p{
    width: 80%;
    line-height: 30px;
    margin: 30px auto;
}

div.rght-col-txt i{
    color: black;
    font-size: 20px;
    background-color: #9593E6;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 30px;

}


/* testimonial section  */














/*************************************************
    RESPONSIVE
 *************************************************/

 /* FINO a
 @media screen and (max-width: 479px) {
     
 }

 A PARTIRE DA
 @media screen and (min-width: 479px) {
     
 } */

@media screen and (min-width: 768px) {
    
 }

@media screen and (min-width: 992px) {
    .container.big-scrn{
        max-width: 850px;
        margin: 0 auto;
    }
    
    .navigator li{
        display: inline-block;
    }

    div.navigator i{
        display: none;
    }

    .logo-img img{
        transform: scale(0.7);
    }
}

