/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*************************************************
    COMMON RULES
 *************************************************/
body{
    font-family: 'Open Sans', sans-serif;
}

 .container{
    width: 100%;
}

.container.big-scrn{
    max-width: 850px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}





/*************************************************
    HEADER
 *************************************************/
header{
    background-color: rgba(4, 90, 252, 0.897);
}

.navigator li{
    display: none;
    list-style: none;
    
    
}

.navigator.d-flex ul{
    align-items: center;
    padding: 15px 25px;

}

.navigator a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 0 10px;
}

.container.d-flex{
    align-items: center;
}

div.navigator.d-flex{
    justify-content: flex-end;
}

div.navigator i{
    padding: 15px 25px;
    color: white;
    font-size: 24px;
}

.logo-img{
    width: 30%;
}

.navigator{
    width: 70%;
}

.logo-img img{
    min-width: 40%;
    padding: 15px 25px;
}

.navigator.d-flex ul li:last-child a{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
}










/*************************************************
    RESPONSIVE
 *************************************************/

 /* FINO a
 @media screen and (max-width: 479px) {
     
 }

 A PARTIRE DA
 @media screen and (min-width: 479px) {
     
 } */

@media screen and (min-width: 768px) {
    
 }

@media screen and (min-width: 992px) {
    .navigator li{
        display: inline-block;
    }

    div.navigator i{
        display: none;
    }
}

